/**
 * Vars
 */
/**
 * Margin utilities
 */
@media (max-width: 767px) {
  .margin-top-15-sm {
    margin-top: 15px;
  }
}
/**
 * AdminLTE hacks
 */
.skin-black-light .treeview-menu > li > a {
  overflow: hidden;
  text-overflow: ellipsis;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: auto;
}
.info-box-icon a i {
  color: white;
}
.info-box-icon a:hover i {
  color: #f4f4f5;
}
/**
 * Table utilies
 */
td.column-icons {
  text-align: center;
}
/**
 * Select2
 */
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-color: #d2d6de;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 34px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  color: #333;
}
.select2-container--default.select2-container--open .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--multiple {
  border-color: #3c8dbc;
  border-bottom: none;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #3c8dbc;
}
.select2-container .select2-selection--single {
  height: 34px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
}
.select2-dropdown {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-color: #3c8dbc;
}
